/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

html,
#root {
  background-color: #282c34;
  color: white;
  font-family: "Lato", sans-serif;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: #4a4a4a;
  top: 0;
}

.navbar-element {
  font-size: 1.5rem;
  border-bottom: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-element a {
  text-decoration: none;
  color: white;
  width: 100%;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  padding: 10px;
}

.navbar-element a:hover {
  border-right: 5px solid #348feb;
  background-color: #838383;
}

.navbar-element:hover {
  cursor: pointer;
}

.navbar-selected {
  /* background-color: white; */
  width: 20px;
  height: 50px;
}

/* MAIN CONTENT */
.main-content {
  margin-left: 250px;
  height: 100vh;
}

.main-content .title {
  font-size: 1.5rem;
  border-bottom: 1px solid grey;
  padding: 10px;
  margin: 0 20px 20px 20px;
}

.spinner {
  position: relative;
  top: 50%;
}

button {
  padding: 5px;
  margin: 10px 20px 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #4a4a4a;
  color: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid grey;
}

button.active {
  background-color: #348feb;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #86b8e9;
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.button-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.button-column p {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 5px;
}

/* RECIPE DETAILS */

.drink-element {
  margin: 20px auto 40px auto;
  padding: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
  background-color: #c2c2c2;
  color: black;
  max-width: 650px;
}

.drink-element.active {
  background-color: white;
  position: relative;
}

.drink-element:hover {
  background-color: white;
  cursor: pointer;
}

.active.drink-element:hover {
  cursor: default;
}

.drink-recipe {
  color: black;
  padding: 10px;
}

.top-card-drink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.top-card-drink h2 {
  margin: 20px;
  font-weight: 400;
}

.top-card-drink {
  background-color: #4a4a4a;
  border-radius: 5px;
  color: white;
}

.top-card-drink img {
  height: 150px;
  width: 150px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.active .top-card-drink img {
  width: 250px;
  height: 250px;
}

/* ICON */
i {
  position: absolute;
  left: 670px;
  top: -15px;
  color: #c2c2c2;
  background-color: white;
  border-radius: 100px;
}

i:hover {
  cursor: pointer;
  color: darkred;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: darkgrey;
}

i.exit-not-active {
  display: none;
}

/* RESPONSIVENESS */
/* If the screen size is 1100px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1100px) {
  .button-column p {
    display: none;
  }

  .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .drink-element {
    padding: 2vw;
    margin: 2vw auto 4vw auto;
    width: 75%;
  }

  i {
    left: calc(100% - 15px);
    top: -10px;
    font-size: 1.5rem !important;
  }

  .top-card-drink img {
    height: 75px;
    width: 75px;
  }

  .top-card-drink h2 {
    margin: 20px;
    font-weight: 400;
  }

  .active .top-card-drink img {
    width: 150px;
    height: 150px;
  }

  h2 {
    font-size: 2.5vw;
  }

  p {
    font-size: 2vw;
  }

  .navbar {
    width: 20%;
  }

  .navbar-element a {
    font-size: 2vw;
  }

  .main-content {
    margin-left: 20%;
  }
}
