html,
#root {
  background-color: #282c34;
  color: white;
  font-family: "Lato", sans-serif;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #4a4a4a;
}

.navbar-element {
  margin: 10px;
  padding: 0 10px 10px 10px;
  font-size: 1.5rem;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.navbar-element a {
  text-decoration: none;
  color: white;
  width: 100%;
  transition: 0.1s;
}

.navbar-element a:hover {
  border-right: 5px solid #348feb;
}

.navbar-element:hover {
  cursor: pointer;
}

.navbar-selected {
  /* background-color: white; */
  width: 20px;
  height: 50px;
}

/* MAIN CONTENT */
.main-content {
  margin-left: 300px;
  padding: 10px;
  height: 100vh;
}

.main-content .title {
  font-size: 1.5rem;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.main-content img {
  height: 100px;
  width: 100px;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #4a4a4a;
  color: white;
  transition: 0.3s;
  border: 1px solid grey;
}

button.active {
  background-color: #348feb;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #348feb;
  color: white;
}
